langchain
langgraph
langchain-core
langchain-community
langchain-experimental
langchain-openai
langchain-deepseek
sqlalchemy
pymysql
pandas
numpy
matplotlib
seaborn
pyecharts
python-dotenv
pydantic
langsmith
fastapi
uvicorn[standard]
openpyxl
python-multipart